.product-container {
  margin: 2px;
  width: 240px;
  margin-top: 10px;
  cursor: pointer;
}

.product-container img {
  object-fit: contain;
  border-radius: 10px;
  display: block;
  margin: auto;
  height: 150px;
}

.product-container .title {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}

.product-container p {
  margin: 1px;
}

.product-container .description {
  text-align: center;
}

.product-container .product-info {
  display: flex;
  justify-content: space-evenly;
}

.product-info h6 {
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  border: 1px solid black;
}

.product-container .price-container {
  display: flex;
  justify-content: space-evenly;
}

.product-container .price-container p {
  margin-top: 5px;
  background-color: #2874f0;
  width: 50%;
  color: white;
  border-radius: 4px;
  text-align: center;
}
