.sidebar-container {
  background-color: white;
  margin: 10px;
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 250px;
  height: 90vh;
}

.sidebar-container select,
button {
  cursor: pointer;
}

.sidebar-container .filter-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
