main {
  margin: 10px;
  margin-top: 60px;
  margin-left: 270px;
  min-height: 90vh;
}

main .sort-container {
  background-color: white;
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.sort-container button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  background-color: #2874f0;
  color: white;
}

body {
  background-color: #e9edc9;
}
